<!DOCTYPE html>
<html>

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Register</div>
		</div>
		<br>
		<form [formGroup]='registerForm' (ngSubmit)='doRegister()'>
			<div class="register">
				<input type="text" placeholder="username" formControlName="email"><br>
				<input type="password" placeholder="password" formControlName="password"><br>
				<input type="password" placeholder="confirm password" formControlName="confirmPassword"><br>
				<input type="submit" value="Register">
				<br>
				<br>
				<a [routerLink]="['/login']">Login</a>
			</div>
		</form>

</body>

</html>