<!DOCTYPE html>
<html>

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Register</div>
		</div>
		<br>
		<div class="register">
			<input type="text" placeholder="username" name="user"><br>
			<input type="password" placeholder="password" name="password"><br>
			<input type="password" placeholder="confirm password" name="confirm password"><br>
			<input type="button" value="Register" [routerLink]="['/']">
			<br>
			<br>
			<a [routerLink]="['/login']">Login</a>
		</div>

</body>

</html>