<!DOCTYPE html>
<html>

<!-- <head>

  <meta charset="UTF-8">

  <title>CodePen - Random Login Form</title>

    <style>
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


</style>

    
</head> -->

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Login</div>
		</div>
		<br>
		<form [formGroup]="loginForm" (ngSubmit)="doLogin()">
			<div class="login">
				<input type="text" placeholder="username" formControlName="email" ><br>
				<input type="password" placeholder="password" formControlName="password"><br>
				<input type="submit" value="Login">
				<br>
				<br>
				<a [routerLink]="['/register']" >Don't have an account</a>
			</div>
		</form>
</body>

</html>